
.user-logged-in #header{
    margin-top: 80px;
    z-index: 300;
}    
.navbar-collapse{
    flex-grow: 0 !important;
}

/*latest-events*/
#latest-events .btn.btn-info{
    width: auto;
    background-color: #f91546;
    border:2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 15px 38px;
    margin: auto;
}
#latest-events .btn.btn-info:hover{
    border:2px solid #f91546; 
    background-color: #fff !important;
}
#latest-events .btn.btn-info:hover a{
    color: #f91546 !important;
    text-decoration: none;
}
.latest-events-btn {
    padding-top: 50px;
    padding-bottom: 20px;
}
#latest-events a{
    color: #fff;
}
.view-footer{
    margin: auto;
    padding-top: 45px;
}

/* newletter */
input#edit-email {
    border-radius: 20px 0 0 20px;
}
.input-group.js-form-type-email.form-item-email.js-form-item-email{
    width: 90%;
}
#news-letter .input-group-btn  {
    position: relative;
    bottom: 71px;
    float: right;
    z-index: 20;
}
#news-letter .btn.btn-theme{ 
    font-size: 0;
    background:url('../img/icon.png') center no-repeat;
    background-color: #f91546;
    border: none;
    padding: 0px 50px;
    border-radius: 0 20px 20px 0px;
    height: 56px;
    color: #fff;
}   

/* footer */

#footer .fa-fax:before {
    content: "\f1ac";
    background-color: #fff;
    padding: 6px 7px;
    text-align: center;
    margin-right: 10px;
    font-size: 11px;
    border-radius: 50%;
}

ul.menu{
    margin-left: 0px !important;
}
h2#block-footer-menu {
    color: #fff;
    font-size: 19px;
    font-weight: bolder;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.copyright{
   background-color: #060508;
   padding: 25px 0px;
}

.copyright p{
    color: #606066;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0px;
}
.copyright a:hover{
    color: #ee3468;
}

.copyright a,
.copyright span{
    color: #f91546;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif !important;
    cursor: pointer;
}


#events-page .content a{
    color:#000;
}
#events-page .content a:hover{
    text-decoration: none;
    color: #f91546;
}
section#map {
    padding-top: 90px;
}
/* pager css*/
/* li.pager__item a { */
.pagination{
    justify-content: center;
}
.pagination .page-item a{
    border-radius: 100%;
    /* padding: 0.285em 0.8em; */
    border: 1px solid #d5d5d5;
    font-size: 12px;
    margin: 0px 0px;
    color: #9e9e9e;
    font-weight: bolder;
}
.prev .page-link:focus, .prev .page-link:hover{
    background-color: unset;
}
.pagination li{
    padding: 0px 7px;
}
li.pager__item.pager__item--first , .pager__item.pager__item--last {
    display: none !important;
}  
.pagination .prev.page-item a,
.pagination .next.page-item a{
/* .pager__item.pager__item--next a,.pager__item.pager__item--previous a{ */
    border: none !important;
    color: #433e44;
    font-size: 16px;
    font-family: 'open sans' !important;
    font-weight: bolder;

}
.pagination .page-item.active a{
/* .pager__item.is-active a { */
    font-weight: bold;
    background-color: #f91546;
    color: #fff;
    border-color: #f91546;
    border-radius: 50%;
}

.pager__item a:hover {
    font-weight: bold;
    background-color: #f91546;
    color: #fff;
    border-color: #f91546;
}
.pager__item.pager__item--next a:hover ,.pager__item.pager__item--previous a:hover{
    text-decoration: none;
    color: #f91546;
    border: none !important;
    background: none !important;
}
/* End pager css*/

.hovereffect img{
    width: 100%;
}

.col-md-7.room-details-img-large:nth-child(even) {
    width: 41.666667% !important;
    flex: 0 0 41.666667% !important;
}


input#edit-check-in-time , input#edit-check-out-time{
    color: #a7a7a7;
    font-family: 'open sans' !important;
}

.col-md-7.room-details-img-large:nth-child(3) {
    width: 41.666667%;
    flex: 0 0 41.666667%;
}
.col-md-7.room-details-img-large:nth-child(4) {
    width: 58.333333% !important;
    flex: 0 0 58.333333% !important;
}
.col-md-7.room-details-img-large:nth-child(7) {
    width: 41.666667%;
    flex: 0 0 41.666667%;
}
.col-md-7.room-details-img-large:nth-child(8) {
    width: 58.333333% !important;
    flex: 0 0 58.333333% !important;
}

.col-md-7.room-details-img-large:nth-child(11) {
    width: 41.666667%;
    flex: 0 0 41.666667%;
}
.col-md-7.room-details-img-large:nth-child(12) {
    width: 58.333333% !important;
    flex: 0 0 58.333333% !important;
}

.node-page #events-page .container{
    max-width: 75% !important;
}
.navbar-light .navbar-nav li:last-child a{
    background-color: #f91546;
    font-size: 14px;
    border-radius: 2px;
    border: 2px solid #f91546;
    margin-top: 15px !important;
    font-weight: 700;
    padding: 3px 18px 3px 18px;
}
.navbar-light .navbar-nav li:last-child a:hover{
     color: #f91546 !important;
     background-color: #fff;
     border-bottom:0px solid #f91546 !important ;
}
#get-relaxed-with-us .btn.btn-info:hover {
    color: #f91546 !important;
    background-color: #fff !important;
    border-color: #f91546;
    text-decoration: none;
}
#get-relaxed-with-us .btn.btn-info a:hover {
    color: #f91546 !important;
    text-decoration: none;
}
#get-relaxed-with-us .btn.btn-info a{
    color: #fff !important;
}
#header.main .navbar img{
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
@media (max-width: 991.98px) { 
    section#top-banner{
        padding-top: 86px;
    }
    nav.cat li.currentPage:before {
        left: 0px;
        width: 20px;
    }
    #latest-events p{
        padding-right: 0px;
    }
}
@media (max-width: 480.98px) { 
    section#top-banner{
        padding-top: 77.59px;
    }
}
@media (max-width: 767.98px) { 
    nav.cat li.currentPage,
    nav.cat li{
        margin-bottom: 20px;
    }
    
}
@media (min-width: 992px) { 
    #latest-events .row{
        row-gap: 20px;
    }
}
