{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<header id="header"  class="other-page-header">
  <div id="header-top">
    <div class="container">
      <div class="header-right">
        <ul>
          <li>{{reachus}}<a class="phone" href="tel:123 456 7890"><span>{{phone}}</span></a></li>
          {% if (facebook or twitter or youtube) %}
          <li>{{followus}}
          {% if facebook  %}
          <a href="{{facebook}}" class="social" ><i class="fa fa-facebook-f"></i></a>
          {% endif %}

          {% if facebook  %}
          <a href="{{twitter}}" class="social" ><i class="fa fa-twitter" aria-hidden="true"></i></a>
          {% endif %}
          {% if facebook  %}
          <a href="{{youtube}}" class="social" ><i class="fa fa-youtube-play"></i></a>
          {% endif %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" id="mainNav">
    <div class="container"> <a href="{{ path('<front>') }}" class="logo"><img src="{{ logopath }}" alt="logo"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <i class="fa fa-bars"></i> </button>
        {{ page.primary_menu }}
      </div>
    </div>
  </nav>
</header>

    
{# Main #}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>404</h1>
          <h2>Page Not Found</h2> 
        </div>  
          <h2>Sorry. We can't find a page.</h2>
          <p>The Page you are looking for might have a removed, had its name changed, or its temporarily unavailable.</p>      
          <a href="{{front_page}}" class="btn btn-custom"> Go Home </a>      
      </div>
    </div>          
  </div>    
</section>
 

<!-- FOOTER SECTION-->
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 footer-columns wow fadeInUp" data-wow-delay="0.3s">
            {{ page.footer_col_1}}
          </div>
          {% if (footerphone or fax or mail) %}
          <div class="col-lg-3 col-md-4 col-sm-12 footer-columns wow fadeInUp" data-wow-delay="0.6s">
          <h6>{{getintitle}}</h6>
            {% if footerphone  %}
            <p><a href="tel:{{footerphone}}"><i class="fa fa-phone"></i>{{footerphone}}</a></p>
            {% endif %}
            {% if fax  %}
            <p><a href="tel:{{fax}}"><i class="fa fa-fax"></i>{{fax}}</a></p>
            {% endif %}
            {% if mail  %}
            <p><a href="mailto:{{mail}}"><i class="fa fa-envelope"></i>{{mail}}</a></p>
            {% endif %}
          </div>
          {% endif %}
          <div class="col-lg-2 col-md-4 col-sm-12 footer-columns wow fadeInUp" data-wow-delay="0.6s">
          {{ page.footer_col_3 }}
          </div>
          {% if (facebook or twitter or linkedin) %}
          <div class="col-lg-3 col-md-4 col-sm-12 footer-columns wow fadeInUp" data-wow-delay="0.9s">
          <h6>{{ social_title }}</h6>
            <div class="social">
              <ul>
              {% if facebook  %}
               <li><a href="{{facebook}}" class="facebook"><i class="fa fa-facebook"></i> Facebook</a></li>
              {% endif %}
              {% if twitter  %}
               <li><a href="{{twitter}}" class="twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
              {% endif %}               
              {% if linkedin  %}
               <li><a href="{{linkedin}}" class="linkedin"><i class="  fa fa-linkedin"></i> Linkedin</a></li>
              {% endif %} 
              </ul>  
            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </section>
    <div class="copyright">
     <div class="container">
     <div class="row">  
      <div class="col-md-6 mx-auto text-center wow fadeInUp" data-wow-delay="0.3s"> 
        {% if copyright %}
          {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
        {% endif %}  
      </div>
     </div>
     </div>
  </div>
<!-- End footer section -->