{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
<div class="pagination-btns">
  <nav aria-label="{{ heading_id }}">
    <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="pagination">
      {# Print previous item if we are not on the first page. #}
        {% if items.previous %}
          <li class="page-item prev">
            <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }} class="page-link">
              {% if items.previous.text %}
              <span aria-hidden="true">{{ items.previous.text }}</span>
              {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16.8" height="28" viewBox="0 0 16.8 28">
                  <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back" d="M16.315,20.19,27.434,9.6a1.927,1.927,0,0,0,0-2.826,2.184,2.184,0,0,0-2.974,0l-12.6,11.995a1.93,1.93,0,0,0-.061,2.759L24.451,33.61a2.187,2.187,0,0,0,2.974,0,1.927,1.927,0,0,0,0-2.826Z" transform="translate(-11.251 -6.194)"></path>
              </svg>
              {% endif %}
              <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            </a>
          </li>
        {% endif %}
      {# Add an ellipsis if there are further previous pages. #}
      {# {% if ellipses.previous %}
        <li role="presentation"><span>&hellip;</span></li>
      {% endif %} #}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        <li class="page-item {{ current == key ? 'active' : '' }}">
          {% if current == key %}
            <a href="" title="Current page" class="page-link">
              {{- key -}}
            </a>
          {% else %}
            <a href="{{ item.href }}" title="{{ title }}" class="page-link" {{ item.attributes|without('href', 'title') }}>
              {{- key -}}
            </a>
          {% endif %}
        </li>
      {% endfor %}
      {# Add an ellipsis if there are further next pages. #}
      {# {% if ellipses.next %}
        <li role="presentation"><span>&hellip;</span></li>
      {% endif %} #}
      {# Print next item if we are not on the last page. #}
      {% if items.next %}
        <li class="next page-item">
          <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }} class="page-link">
            {% if items.next.text %}
            <span aria-hidden="true">{{ items.next.text }}</span>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16.8" height="28" viewBox="0 0 16.8 28">
              <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back" d="M22.986,20.19,11.867,9.6a1.927,1.927,0,0,1,0-2.826,2.184,2.184,0,0,1,2.974,0l12.6,11.995a1.93,1.93,0,0,1,.061,2.759L14.85,33.61a2.187,2.187,0,0,1-2.974,0,1.927,1.927,0,0,1,0-2.826Z" transform="translate(-11.251 -6.194)"></path>
            </svg>
            {% endif %}
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}
